.brand-header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.brand{
    font-weight: normal;
}

.nav-links {
    border: 3px solid black; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    list-style: none;
    padding: 20px;
    display: grid;
    grid-template-areas: "site-section site-section site-section site-section site-section";
}

.section-link {
    color: black;
    text-decoration: none;
}

.section-link:hover {
    text-decoration: underline;
}
